.image_list{
   column-count: 3 !important;
   column-gap: 20px !important;
   
}
@media (max-width:1200px) {
    .image_list{

        column-count: 2 !important;
    }
}
@media (max-width:600px) {
    .image_list{

        column-count: 1 !important;
    }
}

.card_modal{
    width: 945px;
    height: 710px;  
}

.modal_image{
    height: 500px;
}

@media (max-width:1000px)
{
    .card_modal{
        width: 600px;
        height: 500px;
    }
    .modal_image{
        height: 300px;
    }
}